.card
{
    width: 600px;
    height: auto;
}

.card-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
}
.card-body-secondary
{
    display:none;
}

.bio-close, .avatar:hover
{
    cursor: pointer;
}

.bio-close{
    position:absolute;
    left:0;
    padding-left:7px;
}

.btn-like:before
{
    content: "Like";
}

.btn-reject:before
{
    content:"Reject";
}
.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.avatar-lg
{
    vertical-align: middle;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.message-tag:hover
{
	cursor: pointer;
	color: aqua;

}

.message-sender::after
{
	content: ": ";
}

.message
{
	height: 50px;
	display: inline-block;
	position: relative;
	padding: 5px;
	margin: 2px;
	border-radius: 5%;
}

.message-time
{
	right: 0px;
	bottom: 0px;
}

.message-status
{
	left: 0px;
	
}

.message-content
{
	
}