.card
{
    width: 600px;
    height: auto;
}

.card-wrapper
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-body-secondary
{
    display:none;
}

.bio-close:hover
{
    cursor: pointer;
}